<app-industries-of-interest></app-industries-of-interest>
<app-investment-of-interest></app-investment-of-interest>
<app-investment-activities></app-investment-activities>
<app-management></app-management>
<div class="resume-submit-wrap">
  <div class="btn-box mt-4 text-center">
      <button type="submit" class="theme-btn border-0" (click)="navigateBack(1)" ><i class="la la-angle-left"></i> Back</button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="save()">Save <i class="la la-save"></i></button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="saveAndNavigate(3)">Save &amp; Continue <i class="la la-arrow-right"></i></button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="navigate(3)">Skip <i class="la la-angle-right"></i></button>
  </div>
</div>
