
<app-portfolio></app-portfolio>
<app-news-links></app-news-links>
<app-contacts></app-contacts>
<div class="resume-submit-wrap">
  <div class="btn-box mt-4 text-center">
      <button type="submit" class="theme-btn border-0" (click)="navigateBack(2)" ><i class="la la-angle-left"></i> Back</button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="save()">Save <i class="la la-save"></i></button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="submitForApproval()">Submit for approval <i class="la la-save"></i></button>
  </div>
</div>

