<!-- ================================
       START FORM AREA
================================= -->
<section class="form-shared login-registration-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="user-action-form">
          <div class="tab-shared tab-shared-3">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">


              <li class="nav-item">
                <a class="nav-link theme-btn" [ngClass]="{ active: active === 'login' }" id="login-tab" data-toggle="tab" href="#login-nav"
                  role="tab" aria-controls="login-nav" [attr.aria-selected]="active === 'login'" [routerLink]="[strLoginPath]">
                  <i class="la la-sign-in"></i> Login to Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link theme-btn" [ngClass]="{ active: active !== 'login' }" id="signup-tab" data-toggle="tab" href="#signup-nav"
                  role="tab" aria-controls="signup-nav" [attr.aria-selected]="active !== 'login'" [routerLink]="[stRegistrationPath]">
                  <i class="la la-user"></i> Register Account
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" [ngClass]="objLoginClass" id="login-nav" role="tabpanel" aria-labelledby="login-tab">
              <div class="billing-form-item mb-0">
                <div class="billing-title-wrap border-bottom-0 text-center">
                  <h3 class="widget-title font-size-28 pb-2">
                    Login to Your Account
                  </h3>
                  <!-- <p>
                    with your social network, Note: Zobstar will never
                    <br /> post content to your social pages.
                  </p> -->
                </div>
                <!-- billing-title-wrap -->
                <div class="billing-content">
                  <div class="contact-form-action">
                    <form method="post" [formGroup]="loginForm" (submit)="loginSubmit()">
                      <div class="row">
                        <div class="col-lg-12">
                          <app-alert-messages [module]="'LOGIN'"></app-alert-messages>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="input-box">
                            <label class="label-text">Email Address</label>
                            <div class="form-group">
                              <i class="la la-user form-icon"></i>
                              <input class="form-control" formControlName="email" type="email" name="text" placeholder="Your email address" />
                              <app-control-messages [control]="loginFormControl['email']" [labelName]="'Email Address'"></app-control-messages>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-12 -->
                        <div class="col-lg-12">
                          <div class="input-box">
                            <label class="label-text">Password</label>
                            <div class="form-group">
                              <i class="la la-lock form-icon"></i>
                              <input class="form-control" formControlName="password" type="password" name="text" placeholder="Your password" />
                              <app-control-messages [control]="loginFormControl['password']" [labelName]="'Password'"></app-control-messages>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-12 -->
                        <div class="col-lg-12">
                          <div class="form-group">
                            <div class="custom-checkbox mr-0 d-flex align-items-center justify-content-between">
                              <div>
                                <input type="checkbox" id="chb1" />
                                <label for="chb1">Keep me logged in</label>
                              </div>
                              <div>
                                <a href="recover.html" class="color-text">Forgot password?</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-12 -->
                        <div class="col-lg-12">
                          <div class="btn-box margin-top-20px margin-bottom-10px">
                            <button class="theme-btn border-0" type="submit">
                              Login Account
                            </button>
                          </div>
                        </div>
                        <!-- end col-lg-12 -->
                        <div class="col-lg-12">
                          <p>
                            Don't have an account?
                            <a [routerLink]="['/auth/registration']" class="color-text">
                              Create Account</a>
                          </p>
                        </div>
                        <!-- end col-lg-12 -->
                      </div>
                      <!-- end row -->
                    </form>
                  </div>
                  <!-- end contact-form-action -->
                </div>
                <!-- end billing-content -->
              </div>
              <!-- end billing-form-item -->
            </div>
            <!-- end tab-pane -->
            <div class="tab-pane fade" [ngClass]="objRegistrationClass" id="signup-nav" role="tabpanel" aria-labelledby="signup-tab">
              <div class="billing-form-item mb-0">
                <div class="billing-title-wrap border-bottom-0 text-center">
                  <h3 class="widget-title font-size-28 pb-2">
                    Create Your Account!
                  </h3>
                  <p>
                    <!-- Create an account to get recommended jobs that matches
                    <br /> your resume and apply to multiple jobs in seconds!
                    <br /> -->
                    <strong class="color-text-2 font-weight-medium">Already have an account?
                      <a [routerLink]="['/auth/login']" class="color-text">Sign In</a>
                    </strong>
                  </p>
                </div>
                <!-- billing-title-wrap -->
                <div class="billing-content">
                  <div class="contact-form-action">
                    <form method="post" [formGroup]="registrationForm" (submit)="registrationSubmit()">
                      <!-- end row -->
                      <div class="input-box">
                        <label appRequired class="label-text">First name</label>
                        <div class="form-group">
                          <i class="la la-user form-icon"></i>
                          <input class="form-control" formControlName="firstName" type="text" name="text" placeholder="First name" />
                          <app-control-messages [control]="registrationFormControl['firstName']" [labelName]="'First name'"></app-control-messages>
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <label appRequired class="label-text">Last name</label>
                        <div class="form-group">
                          <i class="la la-user form-icon"></i>
                          <input class="form-control" formControlName="lastName" type="text" name="text" placeholder="Last name" />
                          <app-control-messages [control]="registrationFormControl['lastName']" [labelName]="'Last name'"></app-control-messages>
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <label appRequired class="label-text">Email</label>
                        <div class="form-group">
                          <i class="la la-envelope-o form-icon"></i>
                          <input class="form-control" formControlName="email" type="email" name="text" placeholder="Email address" />
                          <app-control-messages [control]="registrationFormControl['email']" [labelName]="'Email Address'"></app-control-messages>
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <label appRequired class="label-text">Password</label>
                        <div class="form-group">
                          <i class="la la-lock form-icon"></i>
                          <input class="form-control" formControlName="password" type="password" name="text" placeholder="Password" />
                          <span class="mt-1">Must use 8-15 characters and one number or symbol.
                          </span>
                          <app-control-messages [control]="registrationFormControl['password']" [labelName]="'Password'"></app-control-messages>
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <label appRequired class="label-text">Confirm Password</label>
                        <div class="form-group">
                          <i class="la la-lock form-icon"></i>
                          <input class="form-control" formControlName="confirmPassword" type="password" name="text" placeholder="Confirm password"
                          />
                          <app-control-messages [control]="
                              registrationFormControl['confirmPassword']
                            " [labelName]="'Confirm password'"></app-control-messages>
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <label appRequired class="label-text">Sign up as </label>
                        <div class="form-group">
                          <div class="job-alert">
                            <div class="radio-option d-inline-block mr-4">
                              <label for="radio-1" class="radio-trigger font-weight-medium mb-3">
                                <input type="radio" id="radio-1" checked="" [value]="'1'" formControlName="type" />
                                <span class="checkmark"></span>
                                <span class="color-text-3">Investor</span>
                              </label>
                            </div>
                            <div class="radio-option d-inline-block mr-4">
                              <label for="radio-2" class="radio-trigger font-weight-medium mb-3">
                                <input type="radio" id="radio-2" [value]="'2'" formControlName="type" />
                                <span class="checkmark"></span>
                                <span class="color-text-3">Startup</span>
                              </label>
                            </div>
                            <div class="radio-option d-inline-block">
                              <label for="radio-3" class="radio-trigger font-weight-medium mb-3">
                                <input type="radio" id="radio-3" [value]="'3'" formControlName="type" />
                                <span class="checkmark"></span>
                                <span class="color-text-3">Freelancer</span>
                              </label>
                            </div>
                            <app-control-messages [control]="registrationFormControl['type']" [labelName]="'User type'"></app-control-messages>
                          </div>
                          <!-- future use -->
                          <!-- <span class="font-size-15">Zobstar will automatically email job postings that are relevant to you. You can unsubscribe on
                            the Manage Saved Searches page or with the opt-out link in the email.</span> -->
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="input-box">
                        <div class="form-group">
                          <!-- <div class="custom-checkbox d-block mr-0">
                            <input type="checkbox" id="chb3" />
                            <label for="chb3">I Agree to Zobstar's
                              <a href="#" class="color-text">Privacy Policy</a>
                            </label>
                          </div> -->
                          <!-- end custom-checkbox -->
                          <!-- <div class="custom-checkbox d-block mr-0">
                            <input type="checkbox" id="chb4" />
                            <label for="chb4">I Agree to Zobstar's
                              <a href="#" class="color-text">Terms of Services</a>
                            </label>
                          </div> -->
                          <!-- end custom-checkbox -->
                        </div>
                      </div>
                      <!-- input-box -->
                      <div class="btn-box margin-top-30px">
                        <button class="theme-btn border-0" type="submit">
                          Create Account
                        </button>
                      </div>
                    </form>
                  </div>
                  <!-- end contact-form-action -->
                </div>
                <!-- end billing-content -->
              </div>
              <!-- end billing-form-item -->
            </div>
            <!-- end tab-pane -->
          </div>
          <!-- end tab-content -->
        </div>
      </div>
      <!-- end col-lg-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end form-shared -->
<!-- ================================
       START FORM AREA
================================= -->