<div [ngClass]="{'billing-form-item': !blnEdit}">
<div class="billing-title-wrap row">
    <div class="col-lg-8 f-l">
        <h3 class="widget-title pb-0">Overview</h3>
        <div class="title-shape margin-top-10px"></div>
    </div>
    <div class="col-lg-4 f-l" *ngIf="blnEdit">
        <button mat-button class="f-r m-l-5" (click)="cancel()">Cancel</button>
        <button mat-raised-button class="f-r" (click)="update()" cdkFocusInitial>Update</button>
    </div>
</div>
  <div class="billing-content">
      <div class="contact-form-action">

          <form *ngIf="objOverview" method="post" [formGroup]="objOverview">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text" appRequired>My Business Name</label>
                          <div class="form-group">
                              <span class="la la-user form-icon"></span>
                              <input  [appInputMaxLength]="100" formControlName="strBusinessName" class="form-control" type="text" name="text"
                                  placeholder="Your name">
                            <app-control-messages [control]="overviewFormControl['strBusinessName']" [labelName]="'Business Name'"></app-control-messages>

                          </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                        <label class="label-text" appRequired>Company Logo
                            <i class="la la-question tip ml-1" data-toggle="tooltip"
                                data-placement="top"
                                title="Max. file size: 1 MB"></i></label>
                        <div class="file-upload-wrap file-upload-wrap-2 col-lg-12">
                          <div class="col-lg-4 f-l pad-l-r-0">
                            <input type="file" name="files[]" (change)="fileChangeEvent($event)"
                            class="multi file-upload-input with-preview width-100" >
                            <span class="upload-span"><i
                                    class="la la-photo mr-2"></i>Upload Photo</span>
                          </div>
                          <div class="col-lg-4 f-l" *ngIf="strUploadData">
                              <img src={{strUploadData}} alt="logo" class="image-width">
                          </div>


                            <app-control-messages [control]="overviewFormControl['objCompanyLogo']" [labelName]="'Firm logo'"></app-control-messages>

                            <div *ngIf="strLogoName" class="col-lg-12 f-l">{{strLogoName}}
                              <i class="la la-times-circle-o removeIcon" (click)="removeUpload()"></i>
                            </div>
                            <div *ngIf="imageError" class="col-lg-12 errorMsg"  >{{imageError}}</div>
                        </div>
                    </div><!-- end col-lg-4 -->
                </div><!-- end col-lg-6 -->

                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Select country<span class="text text-danger font-weight-bold">*</span></label>
                          <div class="form-group ">
                            <ng-select [items]="country$ | async"
                              [searchable]="true"
                              bindLabel="name"
                              [clearable]="false"
                              [virtualScroll]="true"
                              bindValue="countryId"
                              (change)="contryChange($event)"
                              formControlName="intCountry" class="select-ng">
                          </ng-select>
                        </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Select State or Provincey <span
                                  class="text text-danger font-weight-bold">*</span>
                                <i class="la la-question tip ml-1" data-toggle="tooltip" data-placement="top"
                                    title="Select a Country for State to load"></i></label>
                                  <div class="form-group ">
                                    <ng-select [items]="state$ | async"
                                      [searchable]="true"
                                      bindLabel="name"
                                      [clearable]="false"
                                      [virtualScroll]="true"
                                      bindValue="stateId"
                                      formControlName="intState" class="select-ng">
                                  </ng-select>
                                </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Enter City Name <span
                                  class="text text-danger font-weight-bold">*</span></label>
                          <div class="form-group">
                              <span class="la la-user form-icon"></span>
                              <input [appInputMaxLength]="50" class="form-control" type="text" name="text" formControlName="strCityName"
                                  placeholder="Enter City Name">
                          </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Zip / Postal Code <span
                                  class="text text-danger font-weight-bold">*</span></label>
                          <div class="form-group">
                              <span class="la la-user form-icon"></span>
                              <input [appInputMaxLength]="50" class="form-control" type="text" name="text" formControlName="strZipCode"
                                  placeholder="Zip / Postal Code">
                          </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Website <span
                                  class="text-muted ml-1">(optional)</span></label>
                          <div class="form-group">
                              <span class="la la-globe form-icon"></span>
                              <input [appInputMaxLength]="50" class="form-control" type="text" name="text" formControlName="strWebsite"
                                  placeholder="http://www.example.com">
                          </div>
                      </div>
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="input-box">
                          <label class="label-text">Phone (Provide Phone number for you or
                              your business)</label>
                          <div class="form-group">
                              <span class="la la-phone form-icon"></span>
                              <input  [appInputMaxLength]="50" class="form-control" type="text" name="text" formControlName="strPhone"
                                  placeholder="Phone">
                          </div>
                      </div>
                  </div><!-- end col-lg-6 -->

                  <!-- <div class="col-lg-12">
                      <div class="input-box">
                          <label class="label-text">Resume Description</label>
                          <div class="form-group">
                              <textarea class="user-text-editor-3 form-control height-50" name="message"></textarea>
                          </div>
                      </div>
                  </div> -->
              </div><!-- end row -->
          </form>
      </div><!-- end contact-form-action -->
  </div><!-- end billing-content -->
</div><!-- end billing-form-item -->
