  <!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
  <div class="breadcrumb-wrap">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div
                      class="breadcrumb-content candidate-breadcrumb d-flex flex-wrap justify-content-between align-items-center">
                      <!-- <div class="bread-details">
                      <div class="bread-candidate-detail d-flex align-items-center">
                          <div class="bread-img radius--rounded">
                              <img src="images/small-team1.jpg" alt="" class="radius--rounded">
                          </div>
                          <div class="bread-candidate-inner">
                              <div class="candidate-content">
                                  <h2 class="widget-title font-size-30 text-white pb-1 d-flex align-items-center">James Anderson <i class="la la-check verified-badge ml-1" data-toggle="tooltip" data-placement="top" title="Verified"></i></h2>
                                  <p class="font-size-16 line-height-28 text-white">
                                      <span class="d-block">Member Since, Aug 5, 2019</span>
                                      <span class="d-block font-size-15">Senior PHP Developer at Bluetech, Inc</span>
                                  </p>
                              </div>
                              <ul class="social-profile mt-2">
                                  <li><a href="#"><i class="la la-facebook"></i></a></li>
                                  <li><a href="#"><i class="la la-twitter"></i></a></li>
                                  <li><a href="#"><i class="la la-instagram"></i></a></li>
                                  <li><a href="#"><i class="la la-dribbble"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div> -->
                      <!-- end bread-details -->
                      <div class="bread-details d-flex align-items-center">
                          <div class="bread-img">
                              <img src="images/company-logo.jpg" alt="">
                          </div>
                          <div class="employer-content">
                              <h2 class="widget-title font-size-30 text-white pb-1">Rajendra Desai</h2>
                              <p class="font-size-16 mt-1 text-white">
                                  <span class="mr-2"><i class="la la-map-marker mr-1"></i> Aberdeen, United
                                      Kingdom</span>
                                  <span class="rating-rating">
                                      <span class="rating-count">4.5</span>
                                      <span class="la la-star"></span>
                                      <span class="la la-star"></span>
                                      <span class="la la-star"></span>
                                      <span class="la la-star"></span>
                                      <span class="la la-star-half-alt"></span>
                                  </span>
                              </p>
                              <p class="mt-2 font-size-15">
                                  <!-- <span class="text-white badge p-2 btn-rgb mr-1">IT Contractor</span> -->
                                  <span class="text-white mr-1">Individual Investor</span>
                                  <span> / </span>
                                  <span class="text-white mr-1">No of Investors: 1</span>
                              </p>
                          </div><!-- end employer-content -->
                      </div><!-- end bread-details -->
                      <div class="bread-action float-right">
                          <ul class="listing-info">
                              <li>
                                  <button type="button" class="theme-btn mr-1"><i
                                          class="la la-cloud-upload font-size-16"></i> Share Docs</button>
                              </li>
                              <li>
                                  <button type="button" class="theme-btn border-0"><i
                                          class="la la-envelope-o font-size-16"></i> Send Message</button>
                              </li>
                              <li>
                                  <button type="button" class="theme-btn border-0"><i
                                          class="la la-chart-line font-size-16"></i> View Activity</button>
                              </li>
                          </ul>
                          <div class="mt-2 justify-content-between float-right">
                              <span class="font-size-14 font-weight-regular p-2">
                                  <a href="#" class="text-white">
                                      <i class="las la-exclamation-circle font-size-18"></i>
                                      Unshare Docs</a>
                              </span>
                              <span class="font-size-14 font-weight-regular p-2"><a href="#"
                                      class="text-white">
                                      <i class="las la-exclamation-triangle font-size-18"></i>
                                      Report Misuse</a></span>
                          </div>
                      </div>
                      <!-- end bread-action -->
                      <p class="mt-2 font-size-15">
                          <span class="text-white mr-1">Serial entreprenuer with good cash flow Lorem ipsum dolor
                              sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                              dolore magna aliqua. Leo duis ut diam quam nulla. Ut consequat semper viverra nam
                              libero justo laoreet sit.</span>
                      </p>
                  </div><!-- end breadcrumb-content -->
              </div><!-- end col-lg-12 -->
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end breadcrumb-wrap -->
</section><!-- end breadcrumb-area -->
<!-- ================================
END BREADCRUMB AREA
================================= -->

<!-- ================================
START CANDIDATE DETAILS
================================= -->
<section class="candidate-details padding-top-100px padding-bottom-80px">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="single-employer-wrap">
                  <div class="candidate-description padding-bottom-35px">
                      <h2 class="widget-title">Summary</h2>
                      <div class="title-shape"></div>
                      <div class="row mt-5">
                          <div class="col-lg-12 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-industry"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Industries</h4>
                                      <!-- <ul style="list-style-type:square">
                                      <li>asd</li>
                                      <li>asd</li>
                                  </ul> -->
                                      <p class="info__desc font-size-16 color-text-2">Communication | Pharma | Computers | Retailing |
                                          Electronics | Financial | Communication</p>
                                  </div><!-- end info-content -->

                                  <div class="float-right">
                                      <!-- future use only -->
                                    <!-- <a (click)="openDialog()" class="cursor-p" pTooltip="Edit"><i class="la la-lg la-pencil"></i></a> -->
                                  </div>
                                  <!-- <button mat-raised-button (click)="openDialog()">Open modal</button> -->

                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-hand-holding-usd"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Capital Type</h4>
                                      <p class="info__desc font-size-16 color-text-2">Equity</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-money"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Expected % Return</h4>
                                      <p class="info__desc font-size-16 color-text-2">15%</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-12 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-bullhorn"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Pre-Money Valuation Level</h4>
                                      <p class="info__desc font-size-16 color-text-2">$500,000 - $50,000,000</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-12 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-globe"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Accredition Status</h4>
                                      <p class="info__desc font-size-16 color-text-2">The investor has self-accredited</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-12 column-sd-full">
                              <p class="color-text-2 text-center mb-3">12 Months Snapshot</p>
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-graduation-cap"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Business Reviewed</h4>
                                      <p class="info__desc font-size-16 color-text-2">5</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-coins"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Investments</h4>
                                      <p class="info__desc font-size-16 color-text-2">20</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-coins"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Total Capital Invested</h4>
                                      <p class="info__desc font-size-16 color-text-2">$5,000,000</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-coins"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Yield Rate</h4>
                                      <p class="info__desc font-size-16 color-text-2">400%</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->
                          <div class="col-lg-6 column-lg-half column-sd-full">
                              <div class="icon-box candidate-info d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0">
                                      <i class="la la-coins"></i>
                                  </div><!-- end icon-element-->
                                  <div class="info-content">
                                      <h4 class="info__title">Average Deal</h4>
                                      <p class="info__desc font-size-16 color-text-2 font-size-16">$250,000</p>
                                  </div><!-- end info-content -->
                              </div><!-- end icon-box -->
                          </div><!-- end col-lg-4 -->

                      </div>
                      <!-- <p class="mb-3">
                          Voluptatem accu santium doloremque laudantium,
                          totam rem ape dicta sunt dose explicabo. Nemo enim ipsam voluptatem quia voluptas.
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa kequi
                          officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                          unde omnis iste natus error sit voluptatem accusan tium dolorem
                          que laudantium, totam rem aperiam the eaque ipsa quae abillo
                          was inventore veritatis keret quasi aperiam architecto
                      </p> -->
                  </div><!-- end candidate-description -->
              </div><!-- end single-employer-wrap -->
          </div><!-- end col-lg-8 -->
          <div class="col-lg-4">
              <div class="sidebar">
                  <!-- <div class="sidebar-widget">
                      <div class="billing-form-item">
                          <div class="billing-content">
                              <div class="contact-form-action">
                                  <form method="post">
                                      <div class="btn-box">
                                          <button class="theme-btn border-0 w-100 text-center mb-3">
                                              <i class="la la-cloud-upload font-size-16"></i> Share Docs</button>
                                          <button class="theme-btn border-0 w-100 text-center mb-3"><i
                                                  class="la la-envelope-o font-size-16"></i> Send
                                              Message</button>
                                          <button class="theme-btn border-0 w-100 text-center"><i
                                                  class="la la-chart-line font-size-16"></i> View
                                              Activity</button>
                                          <div class=" mt-2">
                                              <p class="font-size-14 font-weight-regular float-left">
                                                  <a href="#" class="color-text-2">
                                                      <i class="las la-exclamation-circle font-size-18"></i>
                                                      Unshare Docs</a>
                                              </p>
                                              <p class="font-size-14 font-weight-regular float-right"><a href="#"
                                                      class="color-text-2">
                                                      <i class="las la-exclamation-triangle font-size-18"></i>
                                                      Report Misuse</a></p>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div> -->
                  <!-- end sidebar-widget -->
                  <div class="sidebar-widget">
                      <div class="billing-form-item">
                          <div class="billing-title-wrap">
                              <h2 class="widget-title">Rate This Memeber</h2>
                              <div class="title-shape"></div>
                          </div>
                          <div class="billing-content">
                              <div class="post-card-content">
                                  <!-- <h2 class="widget-title mt-3">Are You Looking for a Job?</h2> -->

                              </div><!-- end post-card-content -->
                          </div>
                      </div>
                  </div><!-- end sidebar-widget -->
                  <div class="sidebar-widget">
                      <div class="billing-form-item">
                          <div class="billing-title-wrap">
                              <h2 class="widget-title">Funding</h2>
                              <div class="title-shape"></div>
                          </div>
                          <div class="billing-content">
                              <div class="post-card-content text-center">
                                  <p>
                                      Revenue Stage
                                      <i class="la la-question tip ml-1" data-toggle="tooltip"
                                          data-placement="top" title="" data-original-title="Revenue Stage"></i>
                                  </p>
                                  <h2 class="widget-title mt-2">$2,500,000 - $10,000,000</h2>
                                  <hr>
                                  <p>
                                      Investment Amount
                                      <i class="la la-question tip ml-1" data-toggle="tooltip"
                                          data-placement="top" title=""
                                          data-original-title="Investment Amount"></i>
                                  </p>
                                  <h2 class="widget-title mt-2">$100,000 - $5,000,000</h2>
                              </div><!-- end post-card-content -->
                          </div>
                      </div>
                  </div><!-- end sidebar-widget -->
              </div><!-- end sidebar -->
          </div><!-- end col-lg-4 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end candidate-details -->
<!-- ================================
END CANDIDATE DETAILS
================================= -->

