
<app-overview></app-overview>
<app-social-accounts></app-social-accounts>
<app-company-industry></app-company-industry>
<app-company-description></app-company-description>
<h3 class="widget-title pl-4">Funding</h3>
<app-general-funding></app-general-funding>
<app-private-funding></app-private-funding>


<div class="resume-submit-wrap">
  <div class="btn-box mt-4 text-center">
      <button type="submit" class="theme-btn border-0" (click)="save()">Save <i class="la la-save"></i></button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="saveAndNavigate(2)">Save &amp; Continue <i class="la la-arrow-right"></i></button>
      <button type="submit" class="theme-btn border-0 m-l-10" (click)="navigate(2)">Skip <i class="la la-angle-right"></i></button>
  </div>
</div>
